<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
		link="https://youtu.be/c7nRTF2SowQ?si=R8Yg6bMw0RmGVND0"
	>
	
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 39,99"
		link="https://youtu.be/P9fK77eE7fs?si=vh89-uDUmajSnzu8"
	>
	</app-card>

	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 39,99"
		link=""
	>
	</app-card>

	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DISC | PS5"
	gamePrice="R$ 39,99"
	link="https://youtu.be/Gmcg6F4BeUE?si=oYX0piy8Lwu_s8gb"
>
</app-card>

	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="NEW | PS5"
		gamePrice="R$ 99,99"
		link="https://youtu.be/xzCEdSKMkdU?si=MMRL0cWLjSHdcFBm"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 69,99"
		link="https://youtu.be/VA3_KRvLRD8?si=eGiMRSdTfM-1-IBg"
	>
	</app-card>

	<app-card
		gameCover="assets/gta-6.jpg"
		gameLabel="LANÇAMENTO"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 579,99"
		link="https://youtu.be/QdBZY2fkU-0?si=aPi2mupIe9cnryME"
	>
	</app-card>

	<app-card
		gameCover="assets/red-dead2.jpg"
		gameLabel="LANÇAMENTO"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 399,99"
		link="https://youtu.be/WDvFz2LL1WI?si=s7O86LloAVd95EMg"
	>
	</app-card>

	<app-card
		gameCover="assets/forza-horizon-4.jpg"
		gameLabel="LANÇAMENTO"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 399,99"
		link="https://youtu.be/5xy4n73WOMM?si=JtA_whKsv3hfYeRo"
	>
	</app-card>

</div>

